.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1200b4;
  padding: 0px 1px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.menu-bar .left, .menu-bar .center, .menu-bar .right {
  display: flex;
  align-items: center;
}

.menu-bar .left {
  flex: 1;
}

.menu-bar .center {
  flex: 2;
  justify-content: center;
}

.menu-bar .right {
  flex: 1;
  justify-content: flex-end;
}

.menu-bar a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
  font-weight: bold;
  font-size: 16px;
}

.menu-bar .logo {
  max-width: 110px;
}

.back-arrow {
  font-size: 30px;
  color: orange;
}

.menu-bar a:hover {
  color: #c1ff00;
}

.register-body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(to bottom, #1200b4 50%, #f0c);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 80px; /* Para dejar espacio al menú fijo */
}

.form-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000033;
  margin-top: 20px;
  width: 800px;
   margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  margin-top: 10px;
  font-weight: bold;
}

form input, form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 5px;
}

textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-family: sans-serif;
  font-size: 16px;
  margin-top: 5px;
  width: 100%;
  resize: vertical;
}

.btn-register {
  margin-top: 20px;
  background-color: #c1ff00;
  color: black;
  border: none;
  font-weight: bold;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-register:hover {
  margin-top: 20px;
  background-color: #79a000;
  color: black;
  border: none;
  font-weight: bold;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.plus-button {
  font-size: 24px;
  cursor: pointer;
  background: none;
  border: none;
  color: #1200b4;
  transition: transform 0.2s ease, color 0.2s ease;
}

.plus-button:hover {
  color: #79a000;
  transform: scale(1.2);
}

.plus-button:active {
  transform: scale(1);
  color: #4d7200;
}

.minus-button {
  font-size: 20px;
  background: none;
  border: none;
  color: red;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.minus-button:hover {
  transform: scale(1.2);
}

.form-row {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.form-row .form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.center-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.6);
  z-index: 999;
  justify-content: center;
  align-items: center;
}

#loader::after {
  content: '';
  width: 50px;
  height: 50px;
  border: 6px solid #1200b4;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

#alert {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #dff0d8;
  color: #3c763d;
  padding: 20px 30px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.hidden {
  display: none !important;
}



/* ========== LOGIN  ========== */
.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px); 
  padding-top: 30px;
  box-sizing: border-box;
}

.left-login, .right-login {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back-login {
  align-self: flex-start;
  margin-bottom: 20px;
}

.back-icon {
  width: 30px;
  margin-left: 20px;
}

.logo-login {
  width: 200px;
  margin: 20px 0;
}

.btn-login-register {
  padding: 12px 25px;
  background-color: #007BFF;
  border: none;
  color: white;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.login-form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form label {
  font-weight: bold;
  font-size: 1rem;
}

.login-form input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #ddd;
  font-size: 1rem;
}

.forgot-password {
  font-size: 0.9rem;
  text-decoration: underline;
  color: #004eff;
  margin-top: -10px;
  margin-bottom: 10px;
  align-self: flex-start;
}

.btn-login-submit {
  padding: 12px 25px;
  background-color: #007BFF;
  border: none;
  color: white;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
}

/* ==========  Login responsive ========== */
.mobile-login {
  flex-direction: column !important;
  height: auto !important;
  gap: 30px;
}

.mobile-left, .mobile-right {
  width: 100% !important;
  align-items: center;
}

.mobile-form {
  width: 90% !important;
  max-width: none !important;
}

